* { box-sizing: border-box; }
body, head, main, section, article, aside, div {
    margin:0;
    padding:0;
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#fixedNav {
    width:100%;

    position:fixed;
    top:0;
    right:0;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#fixedNav h3 {
    width:70%;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    padding:0 25px;

    display:flex;

    font: normal 400 23px/23px 'Montserrat', sans-serif;
}
#fixedNav #dbUserName {
    width:30%;
    padding:25px 25px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font: normal 200 14px/14px 'Montserrat', sans-serif;
    color:black;
    background:gainsboro;
}
#exitChat {
    font-size:11px;
    color:red;
    cursor:pointer;
}
#displayName { margin-right:auto; }
#fixedNav #dbUserName .icon { margin-right:10px; }
#fixedNav #dbUserName .icon:last-of-type { color: darkslategray; cursor:pointer; }
#userControls {
    width:250px;
    height:auto;
    padding:10px 10px;

    display:none;

    position:fixed;
    top:63px;
    right:0;

    font: normal 400 12px/12px 'Montserrat', sans-serif;
    background:gainsboro;
}
#userControls > div {
    width:100%;
    height:auto;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#userControls > div p {
    width:100%;
    margin:0 0 5px 0;
    padding:2px 0 2px 5px;
    text-transform: lowercase;
    border-left:3px solid darkslategray;
}
#userControls > div p:last-of-type {
    margin:0;
}
#loginNeeded {
     display:flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
#loginNeeded h3 {
    text-align: center;
    font: normal 700 15px/15px 'Montserrat', sans-serif;
    color: darkslategray;
}
#loginNeeded form {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#loginNeeded form button {
    width:100%;
    padding:1rem;
    margin-top:10px;

    background: darkslategray;
    color:white;
    border:none;
    font: normal 400 12px/12px 'Montserrat', sans-serif;
    text-transform: lowercase;
}
#loginNeeded form label {
    width:100%;
    margin-bottom:5px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#loginNeeded form label:last-of-type {
    margin-bottom:0;
}
#loginNeeded form label span {
    width:30%;
    padding:1rem;
    margin-bottom:5px;

    align-self: stretch;

    background: darkslategray;
    color:white;
    border:none;
    font: normal 400 12px/12px 'Montserrat', sans-serif;
    text-transform: lowercase;
}
#loginNeeded form label input {
    width:70%;
    padding:1rem;
    margin-bottom:5px;

    align-self: stretch;

    background: lightgray;
    color:black;
    border:none;
    font: normal 400 12px/12px 'Montserrat', sans-serif;
    text-transform: lowercase;
}
#loginNeeded > div {
    padding:1rem;
    font: normal 200 11px/11px 'Montserrat', sans-serif;
    text-transform: lowercase;
    color: darkslategray;
}