body, head, main, section, article, aside, div {
    margin:0;
    padding:0;
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
main#loginControl {
    width:300px;
    height:auto;
    padding:10px 25px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #e7e7e7;
    font: normal 400 12px/12px 'Roboto', sans-serif;
    border-radius:5px;

    -webkit-box-shadow: 0 0 35px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 0 0 35px -6px rgba(0,0,0,0.51);
    box-shadow: 0 0 35px -6px rgba(0,0,0,0.51);
}
main h3 {
    margin:10px 0 0 0;

    color:darkslategray;
    font: normal 700 20px/20px 'Roboto', sans-serif;
}
main > form {
    width:100%;
    margin:25px;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main > form > label {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
main form button {
    width:100%;
    padding:1rem;

    background:darkslategray;
    color:white;
    border:none;
    text-transform: lowercase;
}
main span {
    width:50%;
    margin:0 0 5px 0;
    padding:17px;

    background: #c3d4d8;
}
main input {
    margin:0 0 5px 0;
    padding:15px;

    border:none;
}
main section {
    color:darkslategray;
    font: normal 500 13px/13px 'Roboto', sans-serif;
}